.main-hero {
  border-bottom: 2px solid $lightGray;
  margin: 0;
}

.hero {
  &-pre-title {
    color: $lightGray;
    font-size: $tSM;
    font-weight: $regularWeight;
    letter-spacing: 4px;
    margin-top: 1rem;
    text-transform: uppercase;
  }
  &-title {
    color: $fontBlack;
    font-size: $t3XL;
    font-weight: $heavyWeight;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  &-image {
    margin: auto;
    width: 80%;
  }
  &-body {
    color: $lightGray;
    font-size: $tRG;
    hyphens: none;
    line-height: 1.5;
    margin: $mt3XL auto auto auto;
    text-transform: none;
    width: 90%;
  }
}

.button {
  background-color: $lightGreen;
  border-radius: 3px;
  height: 2.5rem;
  &-text {
    color: $white;
    font-size: $tXS;
    letter-spacing: 1px;
    margin-right: $mr3XL;
    margin-left: $ml3XL;
    text-transform: uppercase;
  }
}
