<container>
  <row class="icon-section">
    <columns large="3">
      <img class="icon text-center" src="/assets/img/icons/contact-us.png" alt="" />
      <p class="icon-subtitle text-center">
        Contact us
      </p>
    </columns>
    <columns large="3">
      <img class="icon text-center" src="/assets/img/icons/business-person.png" alt="" />
      <p class="icon-subtitle text-center">
        Refer a friend
      </p>
    </columns>
    <columns large="3">
      <img class="icon text-center" src="/assets/img/icons/customers.png" alt="" />
      <p class="icon-subtitle text-center">
        Know your worth
      </p>
    </columns>
  </row>
  <row>
    <columns large="8">
      <p class="icon-main-content text-center">
        Find Your Dream Job
      </p>
    </columns>
  </row>
</container>