<container class="main-hero">
  <row>
    <columns large="12">
      <h3 class="hero-pre-title text-center">
        Add More Recruiting Power
      </h3>
      <h1 class="hero-title text-center">
        Gather Your Team
      </h1>
    </columns>
  </row>
  <row>
    <columns large="12">
      <img class="hero-image" src="/assets/img/illustration.png" alt="email image" />
    </columns>
  </row>
  <center>
    <button class="hero-button radius text-center" href="#">
      <span class="button-text">Send Invites</span>
    </button>
  </center>
  <row>
    <columns large="8">
      <p class="hero-body text-center">
        Lorem ipsum dolor amet fam pug flexitarian, iPhone schlitz narwhal swag. Pinterest bicycle rights letterpress, tumeric green
        juice readymade gochujang stumptown chartreuse. Mumblecore waistcoat lyft hella knausgaard seitan cred pop-up VHS
        raclette fashion axe tattooed 90's.
      </p>
    </columns>
  </row>
</container>
